.react-chatbot-kit-chat-inner-container {
  background-image: linear-gradient(to right, lightsalmon, lightblue);
  display: flex;
  flex-direction: column;
}

.react-chatbot-kit-chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.react-chatbot-kit-chat-bot-avatar-container {
  background-color: white;
}

.react-chatbot-kit-chat-input {
  text-align: center;
}

.react-chatbot-kit-chat-message-container {
  display: flex;
  flex-direction: column;
  image {
    width: 100%;
    height: 100%;
  }
}